<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NightwatchForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NightwatchForm.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutomaticStartTime" serializeAs="String">
                <value>07:00:00</value>
            </setting>
            <setting name="AutomaticStopTime" serializeAs="String">
                <value>17:00:00</value>
            </setting>
        </NightwatchForm.Properties.Settings>
    </userSettings>
</configuration>